<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-0">Tabla de Embarcaciones </h4>

        <div class="d-flex mt-3">
          <!-- Filtro Tipo -->
          <select class="form-select me-2" [(ngModel)]="currentFilterType" (change)="setFilters({type: 'type', value: $event.target.value, desc: getFilterDesc('type', $event.target.value)})">
            <option value="">Selecciona tipo</option>
            <option value="ART">Artesanales</option>
            <option value="IND">Industriales</option>
          </select>
        
          <!-- Filtro Vigencia -->
          <select class="form-select me-2" [(ngModel)]="currentFilterValidity" (change)="setFilters({type: 'validity', value: $event.target.value, desc: getFilterDesc('validity', $event.target.value)})">
            <option value="">Todos</option>
            <option value="active">Vigente</option>
            <option value="expired">Vencido</option>
            <option value="canceled">Cancelado</option>
          </select>
        
          <!-- Filtro Patente -->
          <select class="form-select me-2" [(ngModel)]="currentFilterPatent" (change)="setFilters({type: 'patent', value: $event.target.value, desc: getFilterDesc('patent', $event.target.value)})">
            <option value="">Todos</option>
            <option value="active">Vigente</option>
            <option value="expired">Vencida</option>
            <option value="withoutPatent">Sin patente</option>
          </select>
        
          <!-- Búsqueda -->
          <input type="text" [(ngModel)]="search" placeholder="Buscar embarcación" class="form-control w-auto" (ngModelChange)="filterBoat()" />
        </div>
        

        <div class="table-responsive">
          <table class="table table-striped no-wrap border mt-4">
            <thead>
            <tr>
              <th>#</th>
              <th>Matrícula</th>
              <th>Nombre</th>
              <th>Permisionario</th>
              <th>Propietario</th>
              <th>Identificación propietario</th>
              <th>TIpo de pesquería</th>
              <th>Permiso</th>
              <th>Patente</th>
              <th>Inspección</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of boatArray; let i = index">
              <td class="justify-content-center">{{i+1}}</td>
              <td class="justify-content-center">{{data.name}}</td>
              <td class="justify-content-center">{{data.registrationNumber}}</td>
              <td class="justify-content-center">{{data.ownerPermit}}</td>
              <td class="justify-content-center">{{data.owner}}</td>
              <td class="justify-content-center">{{data.ownerIdentification}}</td>
              <td class="justify-content-center">{{data.typeFishery}}</td>
              <td class="justify-content-center"><span class="btn btn-rounded {{getStatus(data.currentPermit.status)}}">{{getStatusDesc(data.currentPermit.desc)}}</span></td>
              <td class="justify-content-center"><span class="btn btn-rounded {{getStatus(data.currentPatent.status)}}">{{getStatusDesc(data.currentPatent.desc)}}</span></td>
              <td class="justify-content-center"><span class="btn btn-rounded {{getStatus(data.currentInspection.status)}}">{{getStatusDesc(data.currentInspection.desc)}}</span></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center mt-2">
          <ngb-pagination [(page)]="currentPage"
                          [pageSize]="itemsPerPage"
                          [collectionSize]="totalItems"

                          (pageChange)="paginate($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
